service/src/main/resources/service.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://data.gbd.chdb.scb.kz/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PersonDetailsImplService"
                  targetNamespace="http://data.gbd.chdb.scb.kz/">
    <wsdl:types>
        <!-- Person -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:ns2="http://bip.bee.kz/SyncChannel/v10/Types/Response"
                   xmlns:ns1="http://bip.bee.kz/SyncChannel/v10/Types" elementFormDefault="qualified"
                   targetNamespace="http://gbd.chdb.scb.kz/xml/person" version="1.0">
            <xs:import namespace="http://bip.bee.kz/SyncChannel/v10/Types"/>
            <xs:import namespace="http://bip.bee.kz/SyncChannel/v10/Types/Response"/>
            <xs:element name="PersonDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="iin" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PersonDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Person" type="ns2:SyncSendMessageResponse"/>
                        <xs:element name="gbdBillingResponse" type="ns1:GbdBillingResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Person">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="standard" type="xs:int"/>
                    <xs:element name="address" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <!-- getPerson -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://data.gbd.chdb.scb.kz/"
                   xmlns:ns3="http://gbd.chdb.scb.kz/xml/person" xmlns:ns2="http://bip.bee.kz/SyncChannel/v10/Types"
                   xmlns:ns1="http://bip.bee.kz/SyncChannel/v10/Types/Response" attributeFormDefault="unqualified"
                   elementFormDefault="unqualified" targetNamespace="http://data.gbd.chdb.scb.kz/">
            <xs:import namespace="http://bip.bee.kz/SyncChannel/v10/Types/Response"/>
            <xs:import namespace="http://bip.bee.kz/SyncChannel/v10/Types"/>
            <xs:import namespace="http://gbd.chdb.scb.kz/xml/person"/>
            <xs:element name="getPerson" type="tns:getPerson"/>
            <xs:element name="getPersonResponse" type="tns:getPersonResponse"/>

            <xs:complexType name="getPerson">
                <xs:sequence>
                    <xs:element minOccurs="0" name="iin" type="xs:string"/>
                    <xs:element minOccurs="0" name="consentConfirmed" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getPersonResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element form="qualified" name="Person" type="ns1:SyncSendMessageResponse"/>
                                <xs:element form="qualified" name="gbdBillingResponse" type="ns2:GbdBillingResponse"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="StatusInfo">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="scbServiceFault">
                <xs:sequence>
                    <xs:element minOccurs="0" name="faultCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ErrorInfo">
                <xs:sequence>
                    <xs:element name="errorCode" type="xs:string"/>
                    <xs:element name="errorMessage" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorData" type="xs:string"/>
                    <xs:element name="errorDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="subError" type="tns:ErrorInfo"/>
                    <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SenderInfo">
                <xs:sequence>
                    <xs:element name="senderId" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element name="key" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="IOException" type="tns:IOException"/>
            <xs:complexType name="IOException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="JAXBException" type="tns:JAXBException"/>
            <xs:complexType name="JAXBException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ScbException" nillable="true" type="tns:scbServiceFault"/>
            <xs:element name="SOAPException" type="tns:SOAPException"/>
            <xs:complexType name="SOAPException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <!-- SyncSendMessageResponse -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://bip.bee.kz/SyncChannel/v10/Types/Response"
                   xmlns:ns2="http://bip.bee.kz/SyncChannel/v10/Types" xmlns:ns1="http://data.gbd.chdb.scb.kz/"
                   targetNamespace="http://bip.bee.kz/SyncChannel/v10/Types/Response" version="1.0">
            <xs:import namespace="http://data.gbd.chdb.scb.kz/"/>
            <xs:import namespace="http://bip.bee.kz/SyncChannel/v10/Types"/>
            <xs:complexType name="SyncSendMessageResponse">
                <xs:sequence>
                    <xs:element name="responseInfo" type="ns2:SyncMessageInfoResponse"/>
                    <xs:element name="responseData" type="tns:ResponseData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResponseData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="data" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <!-- SyncSendMessageRequest -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://bip.bee.kz/SyncChannel/v10/Types/Request"
                   xmlns:ns2="http://bip.bee.kz/SyncChannel/v10/Types" xmlns:ns1="http://data.gbd.chdb.scb.kz/"
                   targetNamespace="http://bip.bee.kz/SyncChannel/v10/Types/Request" version="1.0">
            <xs:import namespace="http://data.gbd.chdb.scb.kz/"/>
            <xs:import namespace="http://bip.bee.kz/SyncChannel/v10/Types"/>
            <xs:complexType name="SyncSendMessageRequest">
                <xs:sequence>
                    <xs:element name="requestInfo" type="ns2:SyncMessageInfo"/>
                    <xs:element name="requestData" type="tns:RequestData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RequestData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="data" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <!-- SyncMessageInfoResponse -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bip.bee.kz/SyncChannel/v10/Types"
                   xmlns:ns3="http://bip.bee.kz/SyncChannel/v10/Types/Response"
                   xmlns:ns2="http://bip.bee.kz/SyncChannel/v10/Types/Request" xmlns:ns1="http://data.gbd.chdb.scb.kz/"
                   targetNamespace="http://bip.bee.kz/SyncChannel/v10/Types" version="1.0">
            <xs:import namespace="http://data.gbd.chdb.scb.kz/"/>
            <xs:import namespace="http://bip.bee.kz/SyncChannel/v10/Types/Request"/>
            <xs:import namespace="http://bip.bee.kz/SyncChannel/v10/Types/Response"/>
            <xs:element name="SendMessage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="request" nillable="true" type="ns2:SyncSendMessageRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SendMessageFault1_SendMessageFault" type="ns1:ErrorInfo"/>
            <xs:element name="SendMessageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="response" nillable="true" type="ns3:SyncSendMessageResponse"/>
                        <xs:element name="gbdBillingResponse" type="tns:GbdBillingResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="SyncMessageInfoResponse">
                <xs:sequence>
                    <xs:element name="messageId" type="xs:string"/>
                    <xs:element minOccurs="0" name="correlationId" type="xs:string"/>
                    <xs:element name="responseDate" type="xs:dateTime"/>
                    <xs:element name="responseStatus" type="ns1:StatusInfo"/>
                    <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GbdBillingResponse">
                <xs:sequence>
                    <xs:element name="userId" type="xs:string"/>
                    <xs:element name="iinBin" type="xs:string"/>
                    <xs:element name="reportTypeCode" type="xs:string"/>
                    <xs:element name="requestNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SyncMessageInfo">
                <xs:sequence>
                    <xs:element name="messageId" type="xs:string"/>
                    <xs:element minOccurs="0" name="correlationId" type="xs:string"/>
                    <xs:element name="serviceId" type="xs:string"/>
                    <xs:element name="messageDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="routeId" type="xs:string"/>
                    <xs:element name="sender" type="ns1:SenderInfo"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true"
                                type="ns1:Property"/>
                    <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <!--<xs:element name="userId" type="tns:UserIdSoapHeaders"/>-->
            <xs:element name="userId" type="xs:string"/>
            <!--
                        <xs:complexType name="UserIdSoapHeaders">
                            <xs:sequence>
                                <xs:element name="userId" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
            -->

        </xs:schema>
    </wsdl:types>

    <wsdl:message name="UserIdSoapHeader">
        <wsdl:part name="header" element="tns:userId"/>
    </wsdl:message>

    <wsdl:message name="getPerson">
        <wsdl:part element="tns:getPerson" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPersonResponse">
        <wsdl:part element="tns:getPersonResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ScbException">
        <wsdl:part element="tns:ScbException" name="ScbException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="SOAPException">
        <wsdl:part element="tns:SOAPException" name="SOAPException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="IOException">
        <wsdl:part element="tns:IOException" name="IOException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="JAXBException">
        <wsdl:part element="tns:JAXBException" name="JAXBException"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="PersonDetails">
        <wsdl:operation name="getPerson">
            <wsdl:input message="tns:getPerson" name="getPerson"></wsdl:input>
            <wsdl:output message="tns:getPersonResponse" name="getPersonResponse"></wsdl:output>
            <wsdl:fault message="tns:JAXBException" name="JAXBException"></wsdl:fault>
            <wsdl:fault message="tns:IOException" name="IOException"></wsdl:fault>
            <wsdl:fault message="tns:SOAPException" name="SOAPException"></wsdl:fault>
            <wsdl:fault message="tns:ScbException" name="ScbException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <!-- BINDING -->
    <wsdl:binding name="PersonDetailsImplServiceSoapBinding" type="tns:PersonDetails">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPerson">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPerson">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPersonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JAXBException">
                <soap:fault name="JAXBException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IOException">
                <soap:fault name="IOException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ScbException">
                <soap:fault name="ScbException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonDetailsImplService">
        <wsdl:port binding="tns:PersonDetailsImplServiceSoapBinding" name="PersonDetailsImplPort">
            <soap:address location="https://testscbws.mkb.kz/gbdServices/PersonDetailsImplService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
